<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="robots" content="noindex">
        <style>
            .sh:hover {
                box-shadow: 5px 10px black;
            }
            body {
                overflow-x: hidden;
                overflow-y: scroll;
            }
            .searchResult:hover {
                cursor: pointer;
                background-color: #0d6efd;
                color: white;
            }
            body {
                background-color: #0A0A0A;
            }
            .backgroundBox {
                background-color: #161616;
            }
            .lighterBackgroundBox {
                background-color: #262626;
            }
            .bg-blue {
                background-color: #0027EA;
            }
            .bg-green {
                background-color: #03a81c;
            }
            .bg-red {
                background-color: #750802;
            }
            .btn:hover {
                background-color: rgb(84, 89, 95);
            }
            .selectResult:hover {
                cursor: pointer;
                background-color: lightcoral;
                color: white;
            }
            .selected {
                background-color: #004f60;
            }
        </style>
        <script>
            var password = getCookie("p")

            var selected = [];
            var autolikeSelected = [];
            var accountList = "";

            function spinner() {
                var password = getCookie("p");
                document.getElementById("loadingArea").innerHTML = `<img width="20px" src="/openUIElement?file=loading.gif&password=${password}">`;
            }

            function checkmark() {
                var password = getCookie("p");
                document.getElementById("loadingArea").innerHTML = `<img width="20px" src="/openUIElement?file=check.png&password=${password}">`;

                setTimeout(function() {
                    document.getElementById("loadingArea").innerHTML = ``;
                }, 2000)
            }

            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }


            function resultClick(name, event) {

                if(event.shiftKey) {
                    window.open(`https://twitter.com/${name}`)
                    return
                } 

                const index = selected.indexOf(name);
                if(index > -1) {
                    selected.splice(index, 1);
                    document.getElementById(name).classList.remove("selected");
                } else {
                    selected.push(name);
                    document.getElementById(name).classList.add("selected");
                }
                out = "";
                
                for(let i=0; i<selected.length; i++) {
                    out += `<div class="btn sh border-dark border rounded text-white p-3 col-md-12 text-center d-flex flex-column selectResult overflow-hidden text-white lighterBackgroundBox" onclick="resultClick('${selected[i]}', event)">
                                <span>${selected[i]}</span>
                            </div>`
                }

                document.getElementById("numSelected").innerHTML = `${selected.length} selected<hr>${out}`

                let disable = true;
                if(selected.length != 0) {
                    disable = false;
                }

                document.getElementById("remove").disabled = disable;

            }


            function getAccounts() {
                var password = getCookie("p")
                var startsWith = document.getElementById("startsWith").value

                spinner()

                const response = fetch(`getAccounts`, {
                    method: "GET",
                    headers: {
                        "StartsWith": startsWith
                    }
                })
                .then((response) => response.text())
                .then((text) => {
                    let out = "";

                    parsed = JSON.parse(text);

                    for(let i=0; i<parsed["accounts"].length; i++) {

                            let tmp = "";

                            const index = selected.indexOf(parsed["accounts"][i]);
                            if(index > -1) {
                                tmp = " selected";
                            }

                            out += `<div class="btn sh border-dark border rounded text-white lighterBackgroundBox p-3 col-md-3${tmp} text-center d-flex flex-column searchResult overflow-hidden" onclick="resultClick('${parsed["accounts"][i]}', event)" id="${parsed["accounts"][i]}">
                                <span>${parsed["accounts"][i]}</span>
                            </div>`;
                    }
                    document.getElementById("searchDiv").innerHTML = `${out}`;

                    const animate = [
                        { transform: "scaleY(0)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 150
                    };

                    document.getElementById("searchDiv").animate(animate, animateTiming);

                    checkmark()

                    accountList = parsed["accounts"];
                })
            }

            function startAdd() {
                document.getElementById("searchDiv").innerHTML = ``;

                var password = getCookie("p");

                spinner();

                const response = fetch(`addAccount`, {
                    method: "GET",
                })
                .then((response) => response.text())
                .then((text) => {
                    document.getElementById("searchDiv").innerHTML = text;

                    const animate = [
                        { transform: "scaleY(0.2)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 250,
                        easing: "ease-in",
                    };

                    document.getElementById("searchDiv").animate(animate, animateTiming)
                })

                checkmark();
            }

            function startRegular() {
                var password = getCookie("p");
                spinner();
                const response = fetch(`addAccountRegular`, {
                    method: "GET",
                })
                .then((response) => response.text())
                .then((text) => {
                    document.getElementById("accountUploadDiv").innerHTML = text;

                    const animate = [
                        { transform: "scaleY(0.2)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 250,
                        easing: "ease-in",
                    };

                    document.getElementById("accountUploadDiv").animate(animate, animateTiming)
                })

                checkmark();
            }

            function newConfig() {
                var password = getCookie("p");
                spinner();

                data = document.getElementById("config").value;

                accountName = document.getElementById("accountName").value;

                const response = fetch(`newConfig`, {
                    method: "POST",
                    headers: {"AccountName": `${accountName}`},
                    body: data
                })

                checkmark();
            }
            
            function startTweetdeck() {
                var password = getCookie("p");
                spinner();
                const response = fetch(`addAccountTweetdeck`, {
                    method: "GET",
                })
                .then((response) => response.text())
                .then((text) => {
                    document.getElementById("accountUploadDiv").innerHTML = text;

                    const animate = [
                        { transform: "scaleY(0.2)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 250,
                        easing: "ease-in",
                    };

                    document.getElementById("accountUploadDiv").animate(animate, animateTiming)
                })

                checkmark();
            }

            function newTweetdeck() {
                var password = getCookie("p");
                spinner();

                data = document.getElementById("config").value;

                accountName = document.getElementById("accountName").value;

                const response = fetch(`newTweetdeckConfig`, {
                    method: "POST",
                    headers: {"AccountName": `${accountName}`},
                    body: data
                })

                userIDs = document.getElementById("userIDs").value;

                const response2 = fetch(`newUserIDs`, {
                    method: "POST",
                    headers: {"AccountName": `${accountName}`},
                    body: userIDs
                })

                var lines = userIDs.split("\n");

                var output = [];

                for(let i=0; i<lines.length; i++) {
                    for(let j=0; j<lines[i].length; j++) {
                        if(lines[i][j] == ":") {
                            output.push(lines[i].slice(0, j));
                        }
                    }
                }

                for(let i=0; i<output.length; i++) {
                    const j = fetch(`newTweetdeckTweeting`, {
                        method: "POST",
                        headers: {"AccountName": `${output[i]}`},
                    })
                }
                checkmark();
            }

            function remove() {
                spinner();
                for(let i=0; i<selected.length; i++) {

                    var name = selected[i];

                    var j = fetch(`getAccountType`, {
                        method: "GET",
                        headers: {"AccountName": `${name}`},
                    })
                    .then((response) => response.text())
                    .then((text) => {
                        if(text == "TWEETDECK") {
                            const j = fetch(`delTweetdeckTweeting`, {
                                method: "POST",
                                headers: {"AccountName": `${name}`},
                            })
                        } else {
                            console.log(`${text} ${name}`);
                        }
                        if(text == "REGULAR") {
                            const j = fetch(`delConfig`, {
                                method: "POST",
                                headers: {"AccountName": `${name}`},
                            })
                        } else {
                            console.log(`${text} ${name}`);
                        }
                    })
                }
                selected = [];
                document.getElementById("numSelected").innerHTML = `${selected.length} selected<hr>`;
                let disable = true;
                if(selected.length != 0) {
                    disable = false;
                }

                document.getElementById("remove").disabled = disable;
                getAccounts();
                checkmark();
            }
        </script>
    <head>
    <body data-bs-theme="dark" class="justify-content-center position-relative">
        <div class="position-absolute top-0 start-0 rounded lighterBackgroundBox m-2 p-2">
            <div id="loadingArea"></div>
        </div>
        <div class="position-absolute top-0 end-0 rounded backgroundBox m-2 p-2">
            <div id="buttonArea"></div>
            <h4 class="text-white text-center" id="numSelected">0 selected<hr></h4>
        </div>
        <div class="container rounded">
            <div class="d-flex flex-column my-2 backgroundBox rounded">
                <h2 class="text-center">Add and Remove Accounts</h2>
                <div class="row text-center px-5">
                    <div class="col-lg-4 align-self-center"><button type="button" class="btn sh text-center bg-green border-dark border-1 rounded w-50 p-1 fs-2 text-white m-1 align-self-center" onclick="startAdd()">Add</button></div>
                    <div class="col-lg-4 align-self-center"><button type="button" class="btn sh text-center bg-red border-dark border-1 rounded w-50 p-1 fs-2 text-white m-1 align-self-center" onclick="remove()" id="remove" disabled="true">Remove</button></div>
                    <div id="inputsSearch" class="col-lg-4 text-end d-flex flex-column flex-grow-1 align-self-center">
                        <h2 class="text-white text-center">Search Accounts</h2>
                        <input placeholder="Starts with..." type="text" id="startsWith" name="accountname" class="w-50 align-self-center m-1 rounded border-dark border-1 text-white lighterBackgroundBox">
                        <button type="button" class="btn sh text-center bg-blue border-dark border-1 rounded w-50 p-1 fs-2 text-white m-1 align-self-center" onclick="getAccounts()">Search</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="searchDiv" class="row col-lg-12 p-3 backgroundBox rounded my-2 justify-content-start overflow-scroll">
                </div>
            </div>
        </div>
    </body>
</html>
