<style>
.sh:hover {
    box-shadow: 5px 10px black;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.searchResult:hover {
    cursor: pointer;
    background-color: #0d6efd;
    color: white;
}
body {
    background-color: #0A0A0A;
}
.backgroundBox {
    background-color: #161616;
}
.lighterBackgroundBox {
    background-color: #262626;
}
.bg-blue {
    background-color: #0027EA;
}
.bg-green {
    background-color: #03a81c;
}
.bg-red {
    background-color: #750802;
}
.btn:hover {
    background-color: rgb(84, 89, 95);
}
.selectResult:hover {
    cursor: pointer;
    background-color: lightcoral;
    color: white;
}
.selected {
    background-color: #004f60;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-6 align-self-center text-center"><button type="button" class="btn sh text-center bg-blue border-dark border-1 rounded w-50 p-1 fs-4 text-white m-1 align-self-center" onclick="startRegular()">Regular</button></div>
        <div class="col-lg-6 align-self-center text-center"><button type="button" class="btn sh text-center bg-blue border-dark border-1 rounded w-50 p-1 fs-4 text-white m-1 align-self-center" onclick="startTweetdeck()">Tweetdeck</button></div>
    </div>
    <div id="accountUploadDiv">

    </div>
</div>