<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="robots" content="noindex">
        <style>
            .sh:hover {
                box-shadow: 5px 10px black;
            }
            body {
                overflow-x: hidden;
                overflow-y: scroll;
            }
            .searchResult:hover {
                cursor: pointer;
                background-color: #0d6efd;
                color: white;
            }
            .selectResult:hover {
                cursor: pointer;
                background-color: lightcoral;
                color: white;
            }
            .selected {
                background-color: skyblue;
            }
        </style>
        <script>
            var password = getCookie("p")

            var selected = [];
            var autolikeSelected = [];
            var accountList = "";

            function spinner() {
                var password = getCookie("p");
                document.getElementById("loadingArea").innerHTML = `<img width="20px" src="/openUIElement?file=loading.gif&password=${password}">`;
            }

            function checkmark() {
                var password = getCookie("p");
                document.getElementById("loadingArea").innerHTML = `<img width="20px" src="/openUIElement?file=check.png&password=${password}">`;

                setTimeout(function() {
                    document.getElementById("loadingArea").innerHTML = ``;
                }, 2000)
            }

            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function likeTweet() {

                var password = getCookie("p")

                spinner()

                var tweetID = document.getElementById("tweetIDLike").value;
                let accs = {}

                if(selected.length > 0) {
                    accs = {accounts:selected, isRandom:false};
                } else {
                    accs = {accounts:document.getElementById("numAccs").value, isRandom:true};
                }

                
                var password = getCookie("p");
                var multi = document.getElementById("multi").checked;

                if(multi == false) {
                    const response = fetch(`likeTweet`, {
                    method: "POST",
                    headers: {
                        "TweetID": tweetID,
                    },
                    body: JSON.stringify(accs)
                    })
                } else {
                    const response = fetch(`multiLike`, {
                    method: "POST",
                    headers: {
                        "TweetID": tweetID
                    }
                    })
                }

                checkmark()
            }

            function resultClick(name, event) {

                if(event.shiftKey) {
                    window.open(`https://twitter.com/${name}`)
                    return
                } 

                const index = selected.indexOf(name);
                if(index > -1) {
                    selected.splice(index, 1);
                    document.getElementById(name).classList.remove("selected");
                } else {
                    selected.push(name);
                    document.getElementById(name).classList.add("selected");
                }
                out = "";
                
                for(let i=0; i<selected.length; i++) {
                    out += `<div class="btn sh border-dark border rounded text-black p-3 col-md-12 text-center d-flex flex-column selectResult overflow-hidden" onclick="resultClick('${selected[i]}', event)">
                                <span>${selected[i]}</span>
                            </div>`
                }

                document.getElementById("numSelected").innerHTML = `${selected.length} selected<hr>${out}`

                let disable = true;
                if(selected.length == 0) {
                    disable = false;
                }

                document.getElementById("numAccs").disabled = disable;
                document.getElementById("numAccsAutolike").disabled = disable;
                document.getElementById("multi").disabled = disable;
                document.getElementById("multiAutolike").disabled = disable;

            }

            function autolikeClick(name, event) {
                selected = [];

                if(event.shiftKey) {
                    window.open(`https://twitter.com/${name}`)
                    return
                } 

                const index = autolikeSelected.indexOf(name);
                if(index > -1) {
                    autolikeSelected.splice(index, 1);
                    document.getElementById(name).classList.remove("selected");
                    document.getElementById("buttonArea").innerHTML = ``;
                } else {
                    autolikeSelected.push(name);
                    document.getElementById(name).classList.add("selected");
                    document.getElementById("buttonArea").innerHTML = `<button type="button" class="btn sh text-center bg-danger border-dark border-1 rounded p-1 w-100 fs-5 text-white" onclick="deleteAutolike()">Delete All</button><hr>`;
                }
                out = "";

                for(let i=0; i<autolikeSelected.length; i++) {
                    out += `<div class="btn sh border-dark border rounded text-black p-3 col-md-12 text-center d-flex flex-column selectResult overflow-hidden" onclick="autolikeClick('${autolikeSelected[i]}', event)">
                                <span>${autolikeSelected[i]}</span>
                            </div>`
                }

                document.getElementById("numSelected").innerHTML = `${autolikeSelected.length} selected<hr>${out}`
            }

            function getAccounts() {
                var password = getCookie("p")
                var startsWith = document.getElementById("startsWith").value

                spinner()

                const response = fetch(`getAccounts`, {
                    method: "GET",
                    headers: {
                        "StartsWith": startsWith
                    }
                })
                .then((response) => response.text())
                .then((text) => {
                    let out = "";

                    parsed = JSON.parse(text);

                    for(let i=0; i<parsed["accounts"].length; i++) {

                            let tmp = "";

                            const index = selected.indexOf(parsed["accounts"][i]);
                            if(index > -1) {
                                tmp = " selected";
                            }

                            out += `<div class="btn sh border-dark border rounded text-black p-3 col-md-3${tmp} text-center d-flex flex-column searchResult overflow-hidden" onclick="resultClick('${parsed["accounts"][i]}', event)" id="${parsed["accounts"][i]}">
                                <span>${parsed["accounts"][i]}</span>
                            </div>`;
                    }
                    document.getElementById("searchDiv").innerHTML = `${out}`;

                    const animate = [
                        { transform: "scaleY(0)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 150
                    };

                    document.getElementById("searchDiv").animate(animate, animateTiming);

                    checkmark()

                    accountList = parsed["accounts"];
                })
            }

            function getAutolikes() {
                var password = getCookie("p")

                spinner()

                document.getElementById("numAccs").disabled = false;
                document.getElementById("numAccsAutolike").disabled = false;
                document.getElementById("multi").disabled = false;
                document.getElementById("multiAutolike").disabled = false;

                var password = getCookie("p")
                var startsWith = document.getElementById("startsWith").value

                const response = fetch(`getAutolikes`, {
                    method: "GET",
                    headers: {
                        "StartsWith": startsWith
                    }
                })
                .then((response) => response.text())
                .then((text) => {
                    let out = "";

                    parsed = JSON.parse(text);
                    for(let i=0; i<parsed["autolikes"].length; i++) {
                            out += `<div class="btn sh border-dark border rounded text-black p-3 col-md-3 text-center d-flex flex-column searchResult overflow-hidden" onclick="autolikeClick('${parsed["autolikes"][i]}', event)" id="${parsed["autolikes"][i]}">
                                <span>${parsed["autolikes"][i]}</span>
                            </div>`;
                    }
                    document.getElementById("searchDiv").innerHTML = `${out}`;

                    const animate = [
                        { transform: "scaleY(0)"},
                        { transform: "scaleY(1)"}
                    ];

                    const animateTiming = {
                        duration: 150
                    };

                    document.getElementById("searchDiv").animate(animate, animateTiming)
                })
                selected = [];
                document.getElementById("numSelected").innerHTML = `${selected.length} selected`

                checkmark()
            }

            function createAutolike() {
                var password = getCookie("p")

                spinner()

                let data = {}

                if(selected.length > 0) {
                    data = {isRandom:false, name:document.getElementById("accLike").value, accounts:selected};
                } else {
                    data = {isRandom:true, name:document.getElementById("accLike").value, accounts:document.getElementById("numAccsAutolike").value};
                }

                if(document.getElementById("multiAutolike").checked == true) {
                    data = {isRandom:true, name:document.getElementById("accLike").value, accounts:accountList};
                }

                const response = fetch(`createAutolike`, {
                    method: "POST",
                    body: JSON.stringify(data)
                })

                checkmark()
            }

            function deleteAutolike() {
                var password = getCookie("p")

                spinner()

                let data = {}

                if(autolikeSelected.length > 0) {
                    data = {autolikes:autolikeSelected};
                }

                const response = fetch(`deleteAutolike`, {
                    method: "POST",
                    body: JSON.stringify(data)
                })
                getAutolikes()

                checkmark()
            }


        </script>
    <head>
    <body data-bs-theme="dark" class="justify-content-center position-relative">
        <div class="position-absolute top-0 start-0 rounded bg-white m-2 p-2">
            <div id="loadingArea"></div>
        </div>
        <div class="position-absolute top-0 end-0 rounded bg-white m-2 p-2">
            <div id="buttonArea"></div>
            <h4 class="text-black text-center" id="numSelected">0 selected<hr></h4>
        </div>
        <div class="container rounded">
            <div class="row my-2 bg-white rounded">
                <div class="col-md-4">
                    <h2 class="text-black m-1 text-center">Like Tweet</h2>
                    <div id="inputsLike" class="text-center container">
                        <input placeholder="Tweet ID" type="text" id="tweetIDLike" name="tweetIDLike" class=" w-100 align-self-center m-1 rounded border-dark border-1">
                        <input min="0" placeholder="Number of Accounts" type="number" id="numAccs" name="numAccs" class="m-1 rounded border-dark border-1 w-100">
                        <span class="form-check">
                            <input type="checkbox" id="multi" name="Like on all accounts" class="form-check-input">
                            <label for="multi" class="text-black form-check-label m-1 text-start">Like on all accounts</label>
                        </span>
                        <button type="button" onclick="likeTweet()" class="btn sh text-center bg-primary border-dark border-1 rounded fs-2 text-white m-1 align-self-center w-100">Like</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="text-black m-1 text-center">Auto Like</h2>
                    <input placeholder="Account to Like" type="text" id="accLike" name="accLike" class="m-1 rounded border-dark border-1 w-100">
                    <input min="0" placeholder="Number of Accounts" type="number" id="numAccsAutolike" name="numAccsAutolike" class="m-1 rounded border-dark border-1 w-100">
                        <span class="form-check">
                            <input type="checkbox" id="multiAutolike" name="Like on all accounts" class="form-check-input">
                            <label for="multiAutolike" class="text-black form-check-label m-1 text-start">Like on all accounts</label>
                        </span>
                    <button type="button" class="btn sh text-center w-100 bg-primary border-dark border-1 rounded fs-2 text-white m-1 align-self-center" onclick="createAutolike()">Create Autolike</button>
                </div>
                <div id="inputsSearch" class="col-md-4 text-center">
                    <button type="button" class="btn sh text-center bg-primary border-dark border-1 rounded p-1 w-100 fs-2 text-white m-1 align-self-center" onclick="getAccounts()">Show Accounts</button>
                    <button type="button" class="btn sh text-center bg-primary border-dark border-1 rounded p-1 w-100 fs-2 text-white m-1 align-self-center" onclick="getAutolikes()">Show Autolikes</button>
                    <input placeholder="Starts with..." type="text" id="startsWith" name="accountname" class="w-100 align-self-center m-1 rounded border-dark border-1" onchange="getAccounts()">
                </div>
                <div class="row justify-content-end">
                    <div id="searchDiv" class="row col-md-12 p-3 bg-white rounded my-2 justify-content-start overflow-scroll">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
